body{
    margin: 0px;
    padding: 0px;
}
.topo{
    display: flex;
    background-color: rgb(255, 155, 172);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
a{
    font-family: "SN Pro", sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}
.logoHeader{
    height: 35px;
    margin-left: 30px;
}
a:hover{
    color: rgb(196, 196, 196);
}
li{
    margin-right: 15px;
}
.cadastro{
    margin-left: 10px;
    background-color: white;
    padding: 12px;
    border-radius: 15px;
    color: rgb(255, 155, 172);
    transition: background-color 0.3s ease;
}
.cadastro:hover{
    background-color: rgb(238, 238, 238);

}
.colunasProdutos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 90px;
}
.t2{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 40px;
    color: rgb(255, 155, 172);
    font-family: "SN Pro", sans-serif;
    font-style: italic;
}
.t1{
    margin-top: 40px;
    font-size: 40px;
    color: white;
    font-family: "SN Pro", sans-serif;
}
.t3{
    margin-top: 40px;
    font-size: 40px;
    color: rgb(255, 155, 172);
    font-family: "SN Pro", sans-serif;
}
.coluna1, .coluna2{
    width: 800px;
    background-color: rgb(243, 243, 243);
    border-radius: 30px;
}
.produtos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 40px;
    justify-content: center;
}
.produtoP{
    margin: 10px;
}
.produtos1, .produtos2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
}
.imgProduto{
    width: 220px;
    border-radius: 10px;
    border: solid rgb(211, 211, 211) 1px;
}
p{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 5px;
    font-family: "SN Pro", sans-serif;
    font-weight: bold;
    text-decoration: underline dotted 2px;
    text-underline-offset: 3px;
}
footer p{
    display: flex;
    font-size: 15px;
    font-family: "SN Pro", sans-serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 70px;
    font-weight: lighter;
}
.cadastroTela{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    background-color: rgb(255, 155, 172);
    border-radius: 50px;
    width: 1000px;
    align-self: center;
    justify-self: center;
    padding-bottom: 30px;
}
.input{
    height: 50px;
    width: 650px;
    margin: 20px;
    border-radius: 20px;
    border: solid 1px;
    font-family: "SN Pro", sans-serif;
    font-size: 20px;
    padding-left: 20px;
}
.input2{
    height: 50px;
    width: 650px;
    margin: 20px;
    border-radius: 20px;
    border: solid 1px;
    font-family: "SN Pro", sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 70px;
}
.button1{
    height: 50px;
    width: 200px;
    margin: 20px;
    border-radius: 100px;
    border: solid 1px black;
    font-family: "SN Pro", sans-serif;
    font-size: 20px;
    background-color: white;
    color: rgb(255, 155, 172);
    transition: background-color 0.2s ease;
}
.button1:hover{
    background-color: rgb(199, 199, 199);
}
.button2{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    border-radius: 100px;
    border: solid 1px black;
    font-family: "SN Pro", sans-serif;
    font-size: 20px;
    background-color: rgb(255, 155, 172);
    color: white;
    transition: background-color 0.2s ease;
}
.button2:hover{
    background-color: rgb(221, 136, 150)
}
.contatoTela{
    display: flex;
    flex-direction: row;
    margin: 100px;
    align-self: center;
    justify-self: center;
    padding-bottom: 30px;
}
.colunaz1{
    margin-right: 40px;
}
.colunaz1 .paragrafo{
    font-size: 20px;
    text-decoration: none;
}
.paragrafo{
    font-size: 20px;
    text-decoration: none;
    margin: 50px;
}
.colunaz2{
    display: flex;
    flex-direction: column;
    height: 700px;
}
.textoSobre{
    width: 1700px;
}
